*{
    box-sizing: border-box;
    background-color: rgb(0, 255, 127);
}

.parent-container{
    padding: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.child{
    width: 100%;
    height: 250px;
}

.first-child{
    background-color: aqua;
    border: 4px solid;
    border-color: cornflowerblue;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.rectangle{
    background-color: peachpuff;
    border: 4px solid brown;
    width: 30%;
    height: 60%;
}

.first-child .rectangle:nth-child(2){
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.first-child .rectangle:nth-child(2) div{
    width: 40%;
    height: 60%;
    background-color: rgba(205, 92, 92, 0.5);
    border: 4px solid crimson;
}

.second-child{
    height: 600px;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.second-child > div{
    height: 90%;
    width: 50%;
}



.second-child .child-1{
    background-color: rgb(221, 152, 125);
    border: 5px solid;
    border-color: brown;
}

.second-child .child-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

.second-child .child-2 div{
    height: 50%;
    width: 100%;
    background-color: rgb(221, 152, 125);
    border: 5px solid brown;
}


.third-child{
    background-color: rgb(31, 203, 209);
    border: 4px solid;
    border-color: cornflowerblue;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.third-child > div{
    height: 60%;
}

.third-child > div:first-child, .third-child > div:last-child{
    width: 30%;
    background-color: rgb(211, 228, 250);
    border: 4px solid rgb(79, 42, 165);
}

.third-child > div:nth-child(2), .third-child > div:nth-child(3){
    width: 15%;
    background-color: peachpuff;
    border: 4px solid brown;
}