*{
    box-sizing: border-box;
    background-color: rgb(0, 255, 127);
}

.parent-container{
    padding: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.child{
    width: 100%;
    height: 250px;
}

.first-child{
    background-color: aqua;
    border: 4px solid;
    border-color: cornflowerblue;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.rectangle{
    background-color: peachpuff;
    border: 4px solid brown;
    width: 30%;
    height: 60%;
}

.first-child .rectangle:nth-child(2){
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.first-child .rectangle:nth-child(2) div{
    width: 40%;
    height: 60%;
    background-color: rgba(205, 92, 92, 0.5);
    border: 4px solid crimson;
}